.content-black {
    height: 35vw;
    background-color: rgba(0, 0, 0, 0.92);
  }

  .content-black-mobile {
    height: 35vw;
    background-color: rgba(0, 0, 0, 0.92);
    margin-top: 12.5vw;
  }

  .content-white {
    height: 35vw;
  }

  .content-container {
    height: 100%;
  }

  .black-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
  }

  .white-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    color: #000000;
  }

  .video {
    width: 60%;
    border-radius: 2vw;
  }

  .fire-video {
    width: 50%;
    border-radius: 2vw;
  }

  .title {
      font-size: 1.5vw;
  }

  .title-mobile {
    font-size: 3vw;
}

  .morther-wrapper {
    margin-left: 3vw;
  }

  .morther-title {
    font-size: 1.5vw;
  }
  
  .morther-desc {
    margin-top: 1vw;
    font-size: 1vw;
  }

  .morther-title-mobile {
    font-size: 3vw;
  }
  
  .morther-desc-mobile {
    margin-top: 1vw;
    font-size: 2vw;
  }