.header-text {
    margin-top: 5vw !important;
    color: #ffffff;
}
.art-wrapper {
    font-family: "Hind", sans-serif;
}

.card-wrapper {
    width: 20vw;
    display: flex;
    padding: 2vw 3vw;
    margin: 3vw;
    flex-direction: column;
    justify-content: space-evenly;
}

.art-img {
    width: 100%;
    pointer-events: none;
}

.art-title {
    text-align: left;
    font-size: 1.5vw;
}

.art-title-mobile {
    text-align: center;
    font-size: 3vw;
}

.art-artist {
    text-align: initial;
    font-size: 1vw;
}

.art-artist-mobile {
    text-align: center;
    font-size: 2vw;
}

.art-list {
    display: flex;
    flex-wrap: wrap;
}

.info-wrapper {
    text-align: end;
}