.menu-bar {
  height: 3vw;
  background: linear-gradient(
    90deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(55, 92, 64, 1) 40%,
    rgba(4, 44, 98, 1) 100%
  );
  margin: auto;
  border-radius: 0vw 0vw 1vw 1vw;
  height: 10%;
}

.menu-logo {
  width: 120px;
  height: 48px;
}
