.page-wrapper {
  margin-top: 0vw;
}

.landing-banner {
  width: 100%;
  height: 20vw;
  background: linear-gradient(
    90deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(55, 92, 64, 1) 40%,
    rgba(4, 44, 98, 1) 100%
  );
  font-family: "Hind", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.landing-banner-mobile {
  width: 100%;
  height: 30vw;
  background: linear-gradient(
    90deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(55, 92, 64, 1) 40%,
    rgba(4, 44, 98, 1) 100%
  );
  font-family: "Hind", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 12.5vw;
}

.banner-content-wrapper {
  display: flex;
}

.banner-quote {
  padding-left: 20vw;
  font-weight: 800;
  font-size: 2vw;
}

.banner-quote-mobile {
  padding-left: 5vw;
  font-weight: 800;
  font-size: 5vw;
}

.banner-desc {
  padding-left: 20vw;
  font-weight: 400;
  font-size: 1vw;
}

.banner-desc-mobile {
  padding-left: 5vw;
  font-weight: 400;
  font-size: 3vw;
}

.banner-bg {
  width: 17.68vw;
  position: absolute;
  top: 1vw;
  right: 15vw;
}

.banner-bg-mobile {
  width: 27.68vw;
  position: absolute;
  top: 13vw;
  right: 4vw;
}

.content-world {
  padding-left: 10vw;
  padding-right: 10vw;
  height: 35vw;
  background-color: rgba(0, 0, 0, 0.92);
}

.content-world-mobile {
  padding-left: 5vw;
  padding-right: 5vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.92);
}

.content-nft {
  height: 35vw;
}

.content-nft-mobile {
  height: 100%;
}

.fire-container {
  height: 100%;
}

.fire-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
}

.fire-vdo {
  width: 60%;
  border-radius: 2vw;
}

.fire-title {
  text-align: right;
  font-size: 1.5vw;
}

.fire-title-mobile {
  text-align: right;
  font-size: 3vw;
}

.fire-desc {
  text-align: justify;
  font-size: 1vw;
  padding-left: 4vw;
}

.fire-desc-mobile {
  margin-top: 1vw;
  text-align: justify;
  font-size: 2vw;
  padding-left: 4vw;
}

.fire-button-right {
  margin-top: 2vw;
  display: flex;
  flex-direction: row-reverse;
}

.fire-button-left {
  margin-top: 2vw;
}

.fire-button-left-mobile {
  margin-top: 2vw;
  font-size: 2vw;
}

.nft-wrapper {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  height: 100%;
  display: flex;
  align-items: center;
}

.nft-wrapper-mobile {
  height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nft-text-mobile {
  width: 80%;
  margin-top: 3vw;
}

.nft-text-mobile .world-title {
  font-size: 3vw;
}

.nft-text-mobile .world-desc {
  font-size: 2vw;
  text-align: justify;
}

.nft-text {
  width: 50%;
}

.nft-text .world-title {
  font-size: 1.5vw;
  text-align: left;
}

.nft-text .world-desc {
  font-size: 1vw;
  text-align: justify;
}

.smartcontract {
  margin-top: 1vw;
  font-size: 1vw;
}

.smartcontract-mobile {
  margin-top: 1vw;
  font-size: 2vw;
}

.nft-img {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-img-mobile {
  margin-top: 1vw;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vw;
}

.nft-img .card {
  width: 60%;
  background-color: black;
}

.nft-img-mobile .card {
  width: 60%;
  background-color: black;
}

.nft-img .card > img,  .nft-img-mobile .card > img{
  width: 100%;
  height: 100%;
}

.img-third-para {
  width: 95%;
  border-radius: 2vw;
  pointer-events: none;
}

.slide-div {
  width: 35vw;
}

.slide-div-mobile {
  width: 35vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}