.page-wrapper {
  margin-top: 0vw;
}

.landing-banner {
  width: 100%;
  height: 20vw;
  background: linear-gradient(
    90deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(55, 92, 64, 1) 40%,
    rgba(4, 44, 98, 1) 100%
  );
  font-family: "Hind", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.banner-content-wrapper {
  display: flex;
}

.banner-quote {
  font-weight: 800;
  font-size: 2vw;
}

.banner-desc {
  font-weight: 400;
  font-size: 1vw;
}

.banner-bg {
  width: 17.68vw;
  position: absolute;
  top: 1vw;
  right: 15vw;
}

.content-world {
  height: 35vw;
  background-color: rgba(0, 0, 0, 0.92);
}

.content-nft {
  height: 35vw;
}

.fire-container {
  height: 100%;
}

.fire-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
}

.fire-vdo {
  width: 60%;
  border-radius: 2vw;
}

.fire-title {
  text-align: right;
  font-size: 1.5vw;
}

.fire-desc {
  text-align: justify;
  font-size: 1vw;
  padding-left: 4vw;
}

.fire-button-right {
  margin-top: 2vw;
  display: flex;
  flex-direction: row-reverse;
}

.fire-button-left {
  margin-top: 2vw;
}

.nft-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.nft-text {
  width: 50%;
}

.nft-text .title {
  font-size: 1.5vw;
}

.nft-text .desc {
  font-size: 1vw;
  text-align: justify;
}

.nft-img {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-img .card {
  width: 40%;
}

.nft-img .card > img {
  width: 100%;
  height: 100%;
}

.img-third-para {
  width: 95%;
  border-radius: 2vw;
}

.slide-div {
  height: 100%;
  width: 65%;
}
