.footer {
    flex: 1;
    padding: 1rem 0;
    border-top: 1px solid #000000;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    margin: auto;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .logo {
    height: 40px;
    width: 30px;
    margin-left: 0.1rem
  }