.buyNFT-wrapper {
  margin-top: 10vw;
  font-family: "Hind", sans-serif;
}

.buyNFT-wrapper .title {
  text-align: center;
  font-size: 3vw;
  font-weight: 800;
}

.buyNFT-wrapper .desc {
  text-align: center;
  font-size: 1.25vw;
}

.buyNFT-wrapper .step-title {
  margin-top: 2vw;
  font-weight: 600;
  font-size: 1.25vw;
}

.card-step {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3vw;
}

.card-step > div:not(:first-child) {
  margin-left: 3vw;
  font-size: 1vw;
}

.card-step > div:first-child {
  min-width: 5vw;
  max-width: 5vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  font-weight: 700;
  color: white;
}

#card-step-details-multi {
  width: 50%;
  height: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#card-step-details-multi img {
  width: 5vw;
  height: 5vw;
}

#card-step-details-single {
  height: 10vw;
}

#card-step-details-single img {
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 1vw;
}