.faq-wrapper {
  font-family: "Hind", sans-serif;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.faq-wrapper .title {
  text-align: center;
  font-size: 3vw;
  font-weight: 800;
}

.list {
  margin-top: 3vw;
}

.faq-link {
  color: black;
}